*{
    margin: 0px;
    padding: 0px;
}
.green{
    border:2px solid blue;
    background-color: aliceblue;
    text-align:"center";
    position: absolute;
    width: 40%;
    top: 25%;
    left: 30%;
    margin: auto;
}
/* body{
    display: flex;
    flex-direction: column;
    align-items:center;
    
} */